In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

[10, 20, 30]

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

numpy arrays

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

using index

In [12]:
ser1 = pd.Series([1,2,3,4], index=['USA','GERMANY','USSR','JAPAN'])
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,3,4], index=['USA','GERMANY','ITALY','JAPAN'])
ser2

USA        1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64

In [15]:
ser1['USA']

1

In [16]:
ser1 + ser2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64